<!-- フォロー中一覧 user/followings -->

<div class="col-md-8">
  <div class="d-flex justify-content-between mb-3">
    <%= link_to "<< 戻る", :back %>
    <%= link_to "フォロワー一覧", user_followers_path(@user.id) %>
  </div>
  <h5 class="mb-4"><span class="h4 font-weight-bold"><%= @user.name %></span>のフォロー中リスト</h5>
</div>

<!-- ユーザー一覧 -->
<div class="row">
  <div class="col-md-8">
    <% @users.each do |user| %>
      <div class="d-flex">
        <div>
          <%= link_to user_path(user.id), class: 'text-dark' do %>
            <%= image_tag user.get_user_image(80,80) %>
          <% end %>
        </div>

        <div>
          <p><%= link_to "#{user.name}", user_path(user.id), class: 'text-dark' %></p>
          <p><%= link_to "#{user.introduction}".truncate(25, omission: '...'), user_path(user.id), class: 'text-dark' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
