<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div classS="row">
    <div clss="col-md-10 my-5">
      <%= form_with url: reviews_path, local: true, method: :get do |f| %>
        <%= f.text_field :keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <% @reviews.each do |review| %>
        <div>
          <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
          <%= link_to user_path(review.user.id), class: 'text-dark' do %>
            <%= image_tag review.user.get_user_image(100,100) %>
            <%= review.user.name %>
          <% end %>
        </div>

        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(200,200) %>
        <% end %>

        <div class="col d-flex mt-1">
          <!-- レビューの平均 -->
          <div class="starrate mr-5">
            <%# 評価数を星に置き換える %>
            <div id="average-review-rating-<%= review.id %>" data-score=<%= review.average_rating %>></div>
            <%= review.average_rating %>
          </div>

          <!-- 投稿それぞれ異なるidを付与 -->
          <div id = "pickup_<%= review.id %>", class="mt-1">
            <%= render partial: "public/homes/pickup", locals: { review: review } %>
          </div>
        </div>

        <p></p>
        <p>
          <div id="wrap">
            <div class="txt-show">
              <%= review.title %>
            </div>
            <div class="text-hide">
              <%= review.body %>
            </div>
            <button class="more"></button>
          </div>
        </p>
        <div>
          <!--タグリスト-->
          <% review.hashtags.each do |list|%>
            <%= link_to "##{list.name}", search_tag_path(hashtag_id: list.id) %>
          <% end %>
        </div>

        <!--コメントフォーム-->
        <div class="new-comment">
          <%= render 'public/comments/comment_form', review: review, comment: @comment %>
        </div>

        <!--コメント一覧部分-->
        <div id="comments_area">
          <ul class="list_none">
            <% if review.comments.present? %>
              <li>最新のコメント2件を表示</li>
            <% end %>
            <% review.comments.order(created_at: :desc).limit(2). each do |comment| %>
              <li>
                <%= image_tag comment.user.get_user_image(20,20) %>
                <%= comment.comment %>
              </li>
            <% end %>
            <% if review.comments.present? %>
              <li>
                <button type="button" class="button" data-toggle="modal" data-target="#exampleModalLong<%= review.id %>">
                  ...コメント<%= review.comments.count %>件を全て表示
                </button>
              </li>
            <% end %>
          </ul>

          <div class="modal fade" id="exampleModalLong<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'public/comments/comments', review: review %>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /comments_area -->
      <% end %><!-- review.eachのend -->

    </div><!-- /col -->
  </div><!-- /row -->
</div>

<%# jquery発火イベントを記載%>
<script>
  <% @reviews.each do |review| %>
    $('#average-review-rating-<%= review.id %>').empty();
    var elem = document.getElementById('average-review-rating-<%=review.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>

  $(function(){
    $(".more").on("click", function() {
      $(this).toggleClass("on-click");
      $(".txt-hide").slideToggle(1000);
    });
  });
</script>

<style>
  .button {
    border: none;
    outline: none;
    background: transparent;
  }

  .list_none {
    list-style: none;
  }

  .txt-hide{
    display: none;
  }

  button.more {
    width: 120px;
    margin: 20px auto;
    display: block;
    background-color: #666;
    color: #fff;
    padding:10px 15px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
  }

  button.more::after {
    content: "もっと見る";
    transition: .1s;
    -erbkit-transition: .1s;
  }

  button.more.on-click::after{
    content: "閉じる";
  }
</style>
