<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div class="row">
    <div>
      <% @reviews.each do |review| %>
        <div>
          <!-- get_user_imageにundefined methodが出る -->
          <!-- 複数形に対して画像の -->
          <%= image_tag review.user.get_user_image(100,100) %>
          <%= review.user.name %>
        </div>

        <!-- 投稿画像が表示されない（ユーザー画像が取得されている？） -->
        <%= image_tag review.get_review_image(200,200) %>

        <!-- レビューの平均を出したい -->
        <!-- 参考サイト：https://qiita.com/kcl215/items/e226ac58d14360fd1b8e -->
        <div class="starrate">
          <%# 平均点を算出し、round関数で切り上げ %>
          <%=@all_score %>：<%= review.stars.average(:all_score).to_f.round(1) %>
          <%# 評価数を星に置き換える %>
          <div class="average-review-rating" data-score=<%= review.stars.average(:all_score) %>></div>
          <%# jquery発火イベントを記載%>
          <script>
            $('.average-review-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
          </script>
        </div>

        <!-- レビューの平均を出したい2 -->
        <div class="average-review-rating" data-score=<%= review.stars.average(:all_score) %>></div>
        　<%=@all_score %>：<%= review.stars.average(:all_score).to_f.round(1) %>
        </div>

        <%= review.title %>
        <%= review.body %>
      <% end %>
    </div>
  </div>
</div>
