<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div class="row">
    <div>
      <% @reviews.each do |review| %>
        <div>
          <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
          <%= link_to user_path(review.user.id) do %>
            <%= image_tag review.user.get_user_image(100,100) %>
          <% end %>
          <%= review.user.name %>
        </div>

        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(200,200) %>
        <% end %>

        <!-- レビューの平均を出したい -->
        <!-- 参考サイト：https://qiita.com/kcl215/items/e226ac58d14360fd1b8e -->
        <div class="starrate">
          <%# 評価数を星に置き換える %>
          <div id="average-review-rating-<%= review.id %>" data-score=<%= review.average_rating %>></div>
          <%=  review.average_rating %>
        </div>

        <%= review.title %><br>
        <%= review.body %>
      <% end %>
    </div>
  </div>
</div>

<%# jquery発火イベントを記載%>
<script>
  <% @reviews.each do |review| %>
    var elem = document.getElementById('average-review-rating-<%=review.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

// <script>
//   $('#star').empty();
//   $('.average-review-rating').raty({
//     readOnly: true,
//     starOn: "<%#= asset_path('star-on.png') %>",
//     starOff: "<%#= asset_path('star-off.png') %>",
//     starHalf: "<%#= asset_path('star-half.png') %>",
//     score: function() {
//       return $(this).attr('data-score')
//     }
//   });
// </script>