<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div classS="row">
    <div>
      <%= form_with url: reviews_path, local: true, method: :get do |f| %>
        <%= f.text_field :keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% @reviews.each do |review| %>
        <div>
          <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
          <%= link_to user_path(review.user.id), class: 'text-dark' do %>
            <%= image_tag review.user.get_user_image(100,100) %>
            <%= review.user.name %>
          <% end %>
        </div>

        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(200,200) %>
        <% end %>

        <div>
          <!-- レビューの平均 -->
          <div class="starrate">
            <%# 評価数を星に置き換える %>
            <div id="average-review-rating-<%= review.id %>" data-score=<%= review.average_rating %>></div>
            <%= review.average_rating %>
          </div>

          <!-- 投稿それぞれ異なるidを付与 -->
          <div id = "pickup_<%= review.id %>">
            <%= render partial: "public/homes/pickup", locals: { review: review } %>
          </div>
        </div>

        <p><%= review.title %></p>
        <p><%= review.body %></p>
        <div>
          <!--タグリスト-->
          <% review.hashtags.each do |list|%>
            <%= link_to "##{list.name}", search_tag_path(hashtag_id: list.id) %>
          <% end %>
        </div>
      <% end %><!-- review.eachのend -->

      <!--コメントフォーム-->
      <div class="new-comment">
        <%= form_with(model:[@review, @comment], url: review_comments_path, local: true) do |f| %>
          <!--エラーメッセージ-->
          <%= render 'layouts/error_messages', model: f.object %>
          <%= f.text_field :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "投稿する" %>
        <% end %>
      </div>

      <!--コメント一覧部分-->
      <div class="comments">
        <% if @review.comments.present? %>
          <p>コメント件数：<%= @review.comments.count %></p>

          <% @review.comments.each do |comment| %>
            <div class="flex-column">
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              <%= image_tag comment.user.get_user_image(30,30) %>
              <%= comment.user.name %><br>
              <%= comment.comment %>
              <% if comment.user == current_user %>
                <div class="comment-delete">
                  <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </div>
              <% end %>
            </div>
          <% end %>

        <% else %>
          <p>コメントはまだありません</p>
        <% end %>
      </div>
    </div><!-- /col -->
  </div><!-- /row -->
</div>

<%# jquery発火イベントを記載%>
<script>
  <% @reviews.each do |review| %>
    $('#average-review-rating-<%= review.id %>').empty();
    var elem = document.getElementById('average-review-rating-<%=review.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<!-- raty.js ver.3の記述方法（今回はver.4.1.1を使用） -->
<script>
//   $('#star').empty();
//   $('.average-review-rating').raty({
//     readOnly: true,
//     starOn: "<%#= asset_path('star-on.png') %>",
//     starOff: "<%#= asset_path('star-off.png') %>",
//     starHalf: "<%#= asset_path('star-half.png') %>",
//     score: function() {
//       return $(this).attr('data-score')
//     }
//   });
// </script>