<!-- public/search_tag タグ検索結果の表示（投稿レビュー一覧） -->

<div class="container">
  <h5>タグが<%=@hashtag.name%>の投稿一覧</h5>

  <div class="row">
    <!-- 投稿 -->
    <div>
      <% @reviews.each do |review| %>
        <div>
          <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
          <%= link_to user_path(review.user.id) do %>
            <%= image_tag review.user.get_user_image(100,100) %>
          <% end %>
          <%= review.user.name %>
        </div>

        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(200,200) %>
        <% end %>

        <!-- レビューの平均 -->
        <div class="starrate">
          <%# 評価数を星に置き換える %>
          <div id="average-review-rating-<%= review.id %>" data-score=<%= review.average_rating %>></div>
          <%= review.average_rating %>
        </div>

        <%= review.title %><br>
        <%= review.body %>

        <!--タグリスト-->
        <% review.hashtags.each do |list|%>
          <%= link_to "##{list.name}", search_tag_path(hashtag_id: list.id) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# jquery発火イベントを記載%>
<script>
  <% @reviews.each do |review| %>
    var elem = document.getElementById('average-review-rating-<%=review.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>