<!-- public/review/show レビュー詳細ページ -->

<div class="container">
  <div class="row">
    <div>
      <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
        <table>
          <tr>
            <th>レビュー種別</th>
            <td>
              <%= f.radio_button :review_type, true %>
              <%= f.label :review_type_true, "ロケーション" %>
              <%= f.radio_button :review_type, false %>
              <%= f.label :review_type_false, "アイテム" %>
            </td>
          </tr>

          <tr>
            <th>写真を追加（プレビュー表示させたい）</th>
            <!-- multiple: trueで画像の複数投稿を許可している -->
            <td><%= f.file_field :review_image, accept: "image/*", class: "form-control-file user-image" %></td>
          </tr>

          <tr>
            <th>タイトル</th>
            <td><%= f.text_field :title, autofocus: true, class: 'form-control title' %></td>
          </tr>

          <tr>
            <th>レビュー</th>
            <td><%= f.text_area :body, class: 'form-control body' %></td>
          </tr>

          <tr>
            <th>評価</th>
            <% @review.stars.each do |star| %>
              <td>
                <%= star.name %>
                <%# 評価数を星に置き換える %>
                <div id="review-rating-<%= star.id %>" data-score=<%= star.score %>></div>
                <%=  star.score %>
              </td>
            <% end %>
          </tr>
        </table>
        <div>
          <%= link_to "戻る", :back, class: 'btn' %>
          <%= f.submit "投稿する", class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  <% @review.stars.each do |star| %>
    var elem = document.getElementById('review-rating-<%=star.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<!-- レビュー表示案1 -->
<!--<div id="star-rate<%#= star.id %>"></div>-->
<!--script>
//   $('#star-rate<%#= star.id %>').empty();
//   $('#star-rate<%# star.id %>').raty({
//     size : 36,
//     starOff : '<%#= asset_path('star-off.png') %>',
//     starOn : '<%#= asset_path('star-on.png') %>',
//     starHalf: '<%#= asset_path('star-half.png') %>',
//     half : true,
//     readOnly: true,
//     score: <%#= star.score %>
//   });
// </script>