<!-- public/review/show レビュー詳細ページ -->

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
        <%= link_to user_path(@review.user.id) do %>
          <%= image_tag @review.user.get_user_image(100,100) %>
        <% end %>
        <%= @review.user.name %>
      </div>

      <div>
        <%= link_to review_path(@review.id) do %>
          <%= image_tag @review.get_review_image(250,250) %>
        <% end %>
      </div>

      <!-- いいねボタン => 投稿それぞれ異なるidを付与 -->
      <div id = "pickup_<%= @review.id %>">
        <%= render partial: "public/pickups/pickup", locals: { review: @review } %>
      </div>

      <div>
        <%= @review.title %><br>
        <%= @review.body %><br>
        <% @hashtags.each do |tag| %>
          <%= link_to "##{tag.name}", search_tag_path(hashtag_id: tag.id)%>
        <% end %>
      </div>

      <!-- 評価の星表示 -->
      <% @review.stars.each do |star| %>
        <%= star.name %>
        <%# 評価数を星に置き換える %>
        <div id="review-rating-<%= star.id %>" data-score=<%= star.score %>></div>
        <%= star.score %>
      <% end %>

      <!--コメントフォーム-->
      <div class="new-comment">
        <%= render 'public/comments/comment_form', review: @review, comment: @comment %>
      </div>

      <!--コメント一覧部分-->
      <div id="comments_area">
        <ul class="list_none">
          saishinnno
          <% @review.comments.order(created_at: :desc).limit(2). each do |comment| %>
              <li><%= comment.comment %></li>
          <% end %>
          <li>
            <button type="button" class="button" data-toggle="modal" data-target="#exampleModalLong<%= @review.id %>">
              ...コメント<%#= review.comments.count %>件を全て見る
            </button>
          </li>
        </ul>

        <div class="modal fade" id="exampleModalLong<%= @review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'public/comments/comments', review: @review %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- /col -->
  </div><!-- /row-->

  <div class="row">
    <div>
      <% if @review.user == current_user %>
        <%= link_to "編集する", edit_review_path(@review.id), class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->


<!-- 星評価のjsコード -->
<script>
  <% @review.stars.each do |star| %>
    $('#review-rating-<%= star.id %>').empty();
    var elem = document.getElementById('review-rating-<%=star.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<style>
  .button {
    border: none;
    outline: none;
    background: transparent;
  }
  .list_none {
    list-style: none;
  }
</style>