<!-- public/review/show レビュー詳細ページ -->

<div class="container">
  <div class="row">
    <div>
      <div>
        <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
        <%= link_to user_path(@review.user.id) do %>
          <%= image_tag @review.user.get_user_image(100,100) %>
        <% end %>
        <%= @review.user.name %>
      </div>

      <div>
        <%= link_to review_path(@review.id) do %>
          <%= image_tag @review.get_review_image(250,250) %>
        <% end %>
      </div>

      <!-- いいねボタン => 投稿それぞれ異なるidを付与 -->
      <div id = "pickup_<%= @review.id %>">
        <%= render partial: "public/pickups/pickup", locals: { review: @review } %>
      </div>

      <div>
        <%= @review.title %><br>
        <%= @review.body %><br>
        <% @hashtags.each do |tag| %>
          <%= link_to "##{tag.name}", search_tag_path(hashtag_id: tag.id)%>
        <% end %>
      </div>

      <!-- 評価の星表示 -->
      <% @review.stars.each do |star| %>
        <%= star.name %>
        <%# 評価数を星に置き換える %>
        <div id="review-rating-<%= star.id %>" data-score=<%= star.score %>></div>
        <%= star.score %>
      <% end %>

      <!--コメントフォーム-->
      <div class="new-comment">
        <%= form_with(model:[@review, @comment], local: true) do |f| %>
          <!--エラーメッセージ-->
          <%= render 'layouts/error_messages', model: f.object %>
          <%= f.text_field :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "投稿する" %>
        <% end %>
      </div>

      <!--コメント一覧部分-->
      <div class="comments">
        <% if @review.comments.present? %>
          <p>コメント件数：<%= @review.comments.count %></p>

          <% @review.comments.each do |comment| %>
            <div class="flex-column">
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              <%= image_tag comment.user.get_user_image(30,30) %>
              <%= comment.user.name %><br>
              <%= comment.comment %>
              <% if comment.user == current_user %>
                <div class="comment-delete">
                  <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </div>
              <% end %>
            </div>
          <% end %>

        <% else %>
          <p>コメントはまだありません</p>
        <% end %>
      </div>
    </div>
  </div><!-- /row-->

  <div class="row">
    <div>
      <% if @review.user == current_user %>
        <%= link_to "編集する", edit_review_path(@review.id), class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  </div>
</div>

<!-- 星評価のjsコード -->
<script>
  <% @review.stars.each do |star| %>
    $('#review-rating-<%= star.id %>').empty();
    var elem = document.getElementById('review-rating-<%=star.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<!-- レビュー表示案1 -->
<!--<div id="star-rate<%#= star.id %>"></div>-->
<!--script>
//   $('#star-rate<%#= star.id %>').empty();
//   $('#star-rate<%# star.id %>').raty({
//     size : 36,
//     starOff : '<%#= asset_path('star-off.png') %>',
//     starOn : '<%#= asset_path('star-on.png') %>',
//     starHalf: '<%#= asset_path('star-half.png') %>',
//     half : true,
//     readOnly: true,
//     score: <%#= star.score %>
//   });
// </script>