<!-- public/review/show レビュー詳細ページ -->

<div class="container">
  <div class="row">
    <div>
      <div>
        <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
        <%= link_to user_path(@review.user.id) do %>
          <%= image_tag @review.user.get_user_image(100,100) %>
        <% end %>
        <%= @review.user.name %>
      </div>

      <div>
        <%= link_to review_path(@review.id) do %>
          <%= image_tag @review.get_review_image(200,200) %>
        <% end %>
      </div>

      <div>
        <%= @review.title %><br>
        <%= @review.body %>
        <% @hashtags.each do |tag| %>
          <%= link_to tag.name, search_tag_path(tag_id: hashtag.id)%>
          <!-- タグに関する投稿数の取得 -->
          <%="(#{tag.reviews.count})" %>
        <% end %>
      </div>

      <% @review.stars.each do |star| %>
        <%= star.name %>
        <%# 評価数を星に置き換える %>
        <div id="review-rating-<%= star.id %>" data-score=<%= star.score %>></div>
        <%=  star.score %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div>
      <%= link_to "編集する", edit_review(@review.id) %>
    </div>
  </div>
</div>

<script>
  <% @review.stars.each do |star| %>
    var elem = document.getElementById('review-rating-<%=star.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<!-- レビュー表示案1 -->
<!--<div id="star-rate<%#= star.id %>"></div>-->
<!--script>
//   $('#star-rate<%#= star.id %>').empty();
//   $('#star-rate<%# star.id %>').raty({
//     size : 36,
//     starOff : '<%#= asset_path('star-off.png') %>',
//     starOn : '<%#= asset_path('star-on.png') %>',
//     starHalf: '<%#= asset_path('star-half.png') %>',
//     half : true,
//     readOnly: true,
//     score: <%#= star.score %>
//   });
// </script>