<!-- public/review/show レビュー詳細ページ -->

<div class="container">
  <div class="row">
    <div class="col-md-4 pt-4">
      <div>
        <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
        <%= link_to user_path(@review.user.id) do %>
          <%= image_tag @review.user.get_user_image(30,30) %>
        <% end %>
        <%= @review.user.name %>
      </div>

      <div>
        <%= link_to review_path(@review.id) do %>
          <%= image_tag @review.get_review_image(350,350) %>
        <% end %>
      </div>

      <!-- いいねボタン => 投稿それぞれ異なるidを付与 -->
      <div id = "pickup_<%= @review.id %>">
        <%= render partial: "public/pickups/pickup", locals: { review: @review } %>
      </div>

      <div>
        <%= @review.title %><br>
        <%= @review.body %><br>
        <% @hashtags.each do |tag| %>
          <%= link_to "##{tag.name}", search_tag_path(hashtag_id: tag.id)%>
        <% end %>
      </div>

      <!-- 評価の星表示 -->
      <% @review.stars.each do |star| %>
        <%= star.name %>
        <%# 評価数を星に置き換える %>
        <div id="review-rating-<%= star.id %>" data-score=<%= star.score %>></div>
        <%= star.score %>
      <% end %>

      <div class="new-comment">
        <%= render 'public/comments/comment_form', review: @review, comment: @comment %>
      </div>
    </div>

    <!--コメントフォーム-->
    <div class="col-md-4 pt-4">
      <!--コメント一覧部分-->
      <div id="comments_area">
        <%= render 'public/comments/comments', review: @review %>
      </div><!-- /comments_area -->
    </div><!-- /col -->
  </div><!-- /row-->

  <div class="row">
    <div>
      <% if @review.user == current_user %>
        <%= link_to "編集する", edit_review_path(@review.id), class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->


<!-- 星評価のjsコード -->
<script>
  <% @review.stars.each do |star| %>
    $('#review-rating-<%= star.id %>').empty();
    var elem = document.getElementById('review-rating-<%=star.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<style>
  .button {
    border: none;
    outline: none;
    background: transparent;
  }
  .list_none {
    list-style: none;
  }
</style>