<!-- session/new ユーザーログインページ -->
<div class="container">
  <div="row jumbotron">
    <div class="col mt-5">
      <h2 class="mb-4">FourBoarders</h2><br>
      <p class="mb-5">ログインしてみんなの「イケてる」を見つけよう</p>
    </div>

    <div class="col">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if params[:login_failed].present? %>
          <p class="alert alert-danger">ログインに失敗しました。正しいユーザーネームとパスワードを入力してください。</p>
        <% end %>
        <div class="field my-4">
          <!-- １つのフォームでユーザーネーム / メールアドレスを認識させたい -->
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム" %>
        </div>

        <div class="field mb-4">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <div class="actions mb-5">
          <%= f.submit "ログインする" %>
        </div>
      <% end %>

      <p>
        アカウントをお持ちではないですか？
        <%= link_to "登録する", new_user_registration_path  %>
      </p>
    </div>
  </div>
</div>

<style>
  .jumbotron {
    background: url(BB4F4BEE-AD3F-4A87-8FF0-42392482BBB8.jpg) center no-repeat; background-size: cover;
  }
</style>