<h2>LOGGGGGO</h2>
<p>登録してみんなの<br>「イケてる」を見つけよう</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <!-- １つのフォームでユーザーネーム / メールアドレスを認識させたい -->
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム / メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
  </div>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>

<p>
  アカウントをお持ちではないですか？
  <%= link_to "登録する", new_user_registration_path  %>
</p>
