<!-- session/new ユーザーログインページ -->
<div class="container">
  <div class="row">
    <div>
      <h2>FourBoarders</h2><br>
      <p>登録してみんなの<br>「イケてる」を見つけよう</p>
    </div>
  </div>

  <div="row">
    <div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if params[:login_failed].present? %>
          <p class="alert alert-danger">ログインに失敗しました。正しいユーザーネームとパスワードを入力してください。</p>
        <% end %>
        <div class="field">
          <!-- １つのフォームでユーザーネーム / メールアドレスを認識させたい -->
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <div class="actions">
          <%= f.submit "ログインする" %>
        </div>
      <% end %>

      <p>
        アカウントをお持ちではないですか？
        <%= link_to "登録する", new_user_registration_path  %>
      </p>
    </div>
  </div>
</div>
