<div class="container">
  <div class="row">
    <div>
      <% @friends.each do |friend| %>
        <%= link_to user_path(friend.id) do %>
          <%= image_tag friend.get_user_image(100,100) %>
          <%= friend.name %>
          <%= friend.introduction %>
        <% end %>

        <!--ログインユーザーでない場合にフォローボタン表示-->
        <% if friend != current_user %>
          <% if current_user.following?(friend) %>
            <%= link_to "Unfollow", user_relationships_path(friend), method: :delete %>
          <% else %>
            <%= link_to "Follow", user_relationships_path(friend), method: :post %>
          <% end %>
        <% end %><!-- /if -->
      <% end %><!-- /each -->
    </div>
  </div>
</div>
