<!-- users/show ユーザー詳細ページ -->

<!-- プロフィール欄 -->
<div class="col">
  <div class="row">
    <div class="mx-3">
      <%= image_tag @user.get_user_image(100,100) %>
    </div>

    <div class="col "><!-- プロフィール内容 -->
      <div class="d-flex align-items-center mb-2">
        <%= @user.name %>
        <% if current_user && @user != current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete, class: 'ml-5 btn btn-outline-dark' %>
          <% else %>
            <%= link_to "Follow", user_relationships_path(@user.id), method: :post, class: 'ml-5 btn btn-outline-primary' %>
          <% end %>
        <% else %>
          <%= link_to "編集する", edit_user_path(@user.id), class: 'ml-5 btn btn-outline-dark' %>
        <% end %>
      </div>

      <div class="d-flex">
        <p class="mr-5">投稿数：<%= @reviews.count %></p>
        <p class="mr-3"><%= link_to "#{@user.followings.count}フォロー中", user_followings_path(@user.id), class: 'text-dark' %></p>
        <p><%= link_to "#{@user.followers.count}フォロワー", user_followers_path(@user.id), class: 'text-dark' %></p>
      </div>

      <div>
        <p><%= @user.introduction %></p>
      </div>
    </div><!-- /プロフィール内容 -->
  </div><!-- /row　/プロフィール欄 -->
</div><!-- /col -->

<!-- ユーザーの投稿一覧 -->
<div class="m-3">
  <div class="row justify-content-start">
    <% @reviews.each do |review| %>
      <div class="card mb-4 mx-auto" style="width: 23rem;" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <div>
          <!-- ゆくゆくは画像の複数枚投稿・表示させたい -->
          <%= link_to user_path(review.user.id), class: 'text-dark' do %>
            <%= image_tag review.user.get_user_image(30,30), class: 'm-2' %>
            <%= review.user.name %>
          <% end %>
        </div>

        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(500,500), class: 'bd-placeholder-img card-img-top' %>
        <% end %>

        <div class="d-flex mt-1">
          <!-- レビューの平均 -->
          <div class="starrate ml-3 mr-5 d-flex">
            <%# 評価数を星に置き換える %>
            <div id="average-review-rating-<%= review.id %>" data-score=<%= review.average_rating %> class="mr-3"></div>
            <div class="my-auto"><%= review.average_rating %></div>
          </div>

          <!-- Pickup（いいね） -->
          <div id = "pickup_<%= review.id %>", class="mt-1">
            <%= render partial: "public/homes/pickup", locals: { review: review } %>
          </div>
        </div>

        <!-- 投稿本文 -->
        <div class="mx-3">
          <div class="mt-2 mb-1">
            <span class="font-weight-bold"><%= review.title %></span>
          </div>
          <!--タグリスト-->
          <div class="my-1">
            <% review.hashtags.each do |list|%>
              <%= link_to "##{list.name}", search_tag_path(hashtag_id: list.id) %>
            <% end %>
          </div>

          <div class="my-1 mb-2">
            <input id="trigger<%= review.id %>" class="grad-trigger" type="checkbox">
            <label class="grad-btn text-muted" for="trigger<%= review.id %>" type="review_id">続きを読む</label>
            <div class="grad-item"><%= review.body %></div>
          </div>
        </div>

        <!--コメント一覧部分-->
        <div id="comments_area">
          <ul class="list_none">
            <% if review.comments.present? %>
              <li>最新のコメント2件を表示</li>
            <% end %>
            <% review.comments.first(2). each do |comment| %>
              <li>
                <%= image_tag comment.user.get_user_image(20,20) %>
                <%= comment.comment %>
              </li>
            <% end %>
            <% if review.comments.present? %>
              <li>
                <button type="button" class="button" data-toggle="modal" data-target="#exampleModalLong<%= review.id %>">
                  <span class="text-secondary">...コメント<%= review.comments.count %>件を全て表示</span>
                </button>
              </li>
            <% end %>
          </ul>

          <div class="modal fade" id="exampleModalLong<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'public/comments/comments', review: review %>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /comments_area -->
      </div><!-- /card -->
    <% end %><!-- review.eachのend -->
  </div><!-- /row カードの2行横並べ -->
</div><!-- /col -->

<script>
  // jquery発火イベントを記載
  <% @reviews.each do |review| %>
    $('#average-review-rating-<%= review.id %>').empty();
    var elem = document.getElementById('average-review-rating-<%=review.id%>');
    var opt = {
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
           return $(this).attr('data-score')
        }
    }
    raty(elem, opt);
  <% end %>
</script>

<style>
  .button {
    border: none;
    outline: none;
    background: transparent;
  }

  .list_none {
    list-style: none;
  }

  /* 以下、「続きを見る」ボタン */
  .grad-item {
    position: relative;
    overflow: hidden;
    height: 35px; /*隠した状態の高さ*/
  }
  .grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }
  .grad-trigger {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger:checked + .grad-btn {
    display: none; /*チェックされていたら、grad-btnを非表示にする*/
  }
  .grad-trigger:checked ~ .grad-item {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger:checked ~ .grad-item::before {
    display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
  }
</style>